/*

    Project:    Shopify Summer Internship web developer application
    Programmer: Brendan Rushing
    Date:       Jan 16, 2018

    Github URL: https://github.com/rushingbrendan/shopifyWebApplication1

    Shopify URL: https://www.shopify.com/careers/web-engineer-intern-summer-2019-7f4bd3

    Project Description:

    Web Engineer Challenge - Summer 2019

    Build a web app to search for waste items using the Toronto Waste Wizard database, and save frequently used ones.

    Instructions
    Reproduce the design as provided in the screenshot, which displays example search results.
    The data must be taken from the Waste Wizard Lookup data (JSON).
    Typing in the search field should NOT perform an API call.
    A search must be performed when hitting enter or clicking the search button.
    When the search input field is cleared, the list of results should also be cleared.
    Performing a search should render a list of potential matching items based on keywords. Each item should:
    Render the title and description of the item.
    Render a grey star button if the item is not already favourited.
    Render a green star icon if the item is not already favourited.
    Clicking the star button should add the item to the favourites list.
    When the number of favourites is more than one, the app should render a list of items. Each saved item should:
    Render the title and description of the item.
    Render a green star button if the item has been favourited.
    Clicking the green star button should remove the item from the saved list.

*/


ul li { padding: 5px 0px; }

.App
{
    background-color: white;
    width: 100%;
    
    
    justify-content: center;
    margin: auto;
    height: 100%;
    
    
}
.wasteInfoContainer
{
    margin: auto;
    width: 100%;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    min-width: 800px;
    align-content: center;

}

.searchInput
{
    
    height: 50px;
    font-size: 14pt;
}


.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.APIreturnedDataFont
{
    font-size: 14pt;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: white;


    
}

.headerBox
{
    width: 100%;
    height: 120px;
    min-width: 900px;
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

      /* can be treated like a fallback */
  background-color: #215A92;

  /* will be "on top", if browser supports it */
  background-image:
    linear-gradient(
      to right, 
      #215A92, #29925E
    );

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: #215A92;
  background:     linear-gradient(
    to right, 
    #215A92, #29925E
  );
        
}

.favouriteBackground
{

    background-color: white;
    
}

.spaceUnderFavouritesTitle
{
    
    height: 80px;
}

.spaceUnderHeader
{
    
    height: 40px;
}

.spaceAboveHeader
{
    line-height: 20px;
}


  
.searchFrame
{
    width: 80%;
    min-width: 900px;
    
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

* {
  box-sizing: border-box;
}

.searchInput {
  padding: 25px;
  font-size: 22px;
  border: 1px solid grey;
  float: left;
  width: 85%;
  min-width: 700px;
  background: white;
  border-radius: 4px;

}

.searchButton {
  
  width: 8%;
  float: left;
  margin-left: 30px;
  
  padding: 8px;
  background: rgb(41, 144,	89);
  color: white;
  font-size: 12px;
  border: 1px rgb(41, 144,	89);
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
  
  
}

.searchBarButtonGap
{
    width:80px;
    float: left;
}
.searchButton :hover 
{
  color:rgb(189, 189, 189);
    
}

form.example::after 
{
  content: "";
  clear: both;
  display: table;
}

.checkboxColumn
{
    float: middle;
    
    vertical-align: top;
    width: 5%;    
}

.titleColumn
{
    float: left;
    text-align: left;
    vertical-align: top;
    width: 35%;
    margin-left: 5px;
 
}



.bodyColumn
{
    float: left;
    text-align: left;
    vertical-align: top;

    width: 55%;    
}

.horizontalPaddingColumn{
    width:2%;
}

.favouritesTitle
{
    float: left;
    text-align: left;
    vertical-align: top;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(43,	152,	94	);
    
}


.headerTitle
{
    font-size: 42px;
    font-weight: bolder;
    color: white;
}


.favouriteCheckbox
{
    width: 30px;
    height: 30px;
}

.favouritesCountainer
{

    
    width: 80%;
    

}

.favouritesBackground
{
    background-color: rgb(247, 254,	250	);
    /* width: 100%; */
        
}
.alignFavouriteData
{
    display: flex;
    justify-content: center;
    font-size: 14pt;

    
}

.alignFavouriteTitle
{
    width: 50%;
    text-indent: 17%;
    line-height: 1%;
}

.spaceAboveFavouritesTitle
{
    line-height: 5px;
}
.spaceBelowFavouritesTitle
{
    line-height: 5px;
}

.wasteDataBackground
{
    background-color: white;
    width: 100%;
    
        
}

.starButton
{
    border: 0px;
    color: #AAAAAA;
    text-rendering: optimizeLegibility;
    
    
}

.starButtonActivated
{
    border: 0px;
    border-color: none;
    color: #2B985E;
    background-color: none;
    text-rendering: optimizeLegibility;
    
}


.spaceUnderWasteData
{
    line-height: 1px;
}

.spaceUnderFavouriteData
{
    line-height: 200px;
    height: 200px;
}

.searchButtonSpaceLeft
{

    margin-left: 50px;
}