
ul li { padding: 5px 0px; }

.App
{
    background-color: white;
    width: 1200px;
    
    
    justify-content: center;
    margin: auto;
    height: 100%;
}
.wasteInfoContainer
{
    margin: auto;
    width: 100%;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    min-width: 800px;
    align-content: center;

}

.searchInput
{
    width: 1000px;
    height: 50px;
    font-size: 20pt;
}


.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.APIreturnedDataFont
{
    font-size: 14pt;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: white;


    
}

.headerBox
{
    width: 1100px;
    height: 150px;
    background-color: rgb(85, 148, 83);
    color: white;
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
        
}

.favouriteBackground
{

    background-color: white;
    
}


.spaceUnderHeader
{
    line-height: 100px;
}

.spaceAboveHeader
{
    line-height: 20px;
}


  
.searchFrame
{
    width: 1050px;
    height: 100px;
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

* {
  box-sizing: border-box;
}

.searchInput {
  padding: 30px;
  font-size: 26px;
  border: 1px solid grey;
  float: left;
  width: 89%;
  background: white;
  border-radius: 4px;
}

.searchButton {
  float: right;
  width: 9%;
  padding: 13px;
  background: rgb(41, 144,	89);
  color: white;
  font-size: 12px;
  border: 1px rgb(41, 144,	89);
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
}

.searchButton :hover {
  background: #0b7dda;
  
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.checkboxColumn{
    float: middle;
    
    vertical-align: top;
    width: 5%;
    /* border: solid black 1px; */
    
}

.titleColumn{
    float: left;
    text-align: left;
    vertical-align: top;
    width: 35%;
    /* border: solid black 1px; */


}



.bodyColumn{
    float: left;
    text-align: left;
    vertical-align: top;

    width: 55%;
    /* border: solid black 1px; */
}

.horizontalPaddingColumn{
    width:2%;
}

.favouritesTitle
{
    float: left;
    text-align: left;
    vertical-align: top;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(43,	152,	94	);
    
}


.headerTitle
{
    font-size: 60px;
    font-weight: bolder;
    color: white;
}


.favouriteCheckbox
{
    width: 30px;
    height: 30px;
}

.favouritesCountainer
{

    
    width: 1050px;
    height: 10px;

}

.favouritesBackground
{
    background-color: rgb(247, 254,	250	);
    width: 100%;
        
}
.alignFavouriteData
{
    display: flex;
    justify-content: center;
    font-size: 14pt;
}

.alignFavouriteTitle
{
    width: 50%;
    text-indent: 17%;
}

.spaceAboveFavouritesTitle
{
    line-height: 10px;
}
.spaceBelowFavouritesTitle
{
    line-height: 30px;
}

.wasteDataBackground
{
    background-color: white;
    width: 100%;
    
        
}

.starButton
{
    border: 0px;
    color: rgb(170, 170, 170);
}

.starButtonActivated
{
    border: 0px;
    color: rgb(43, 152, 94);
}




