
ul li { padding: 5px 0px; }

.App
{
    background-color: white;
    width: 100%;
    
    
    justify-content: center;
    margin: auto;
    height: 100%;
    min-width: 1600px;
    
}
.wasteInfoContainer
{
    margin: auto;
    width: 100%;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    min-width: 800px;
    align-content: center;

}

.searchInput
{
    
    height: 50px;
    font-size: 20pt;
}


.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.APIreturnedDataFont
{
    font-size: 24pt;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: white;


    
}

.headerBox
{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

      /* can be treated like a fallback */
  background-color: #215A92;

  /* will be "on top", if browser supports it */
  background-image:
    linear-gradient(
      to right, 
      #215A92, #29925E
    );

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: #215A92;
  background:     linear-gradient(
    to right, 
    #215A92, #29925E
  );
        
}

.favouriteBackground
{

    background-color: white;
    
}

.spaceUnderFavouritesTitle
{
    
    height: 150px;
}

.spaceUnderHeader
{
    
    height: 40px;
}

.spaceAboveHeader
{
    line-height: 20px;
}


  
.searchFrame
{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

* {
  box-sizing: border-box;
}

.searchInput {
  padding: 40px;
  font-size: 28px;
  border: 1px solid grey;
  float: left;
  width: 91%;
  min-width: 1000px;
  background: white;
  border-radius: 4px;

}

.searchButton {
  float: right;
  width: 8%;
  
  padding: 17px;
  background: rgb(41, 144,	89);
  color: white;
  font-size: 12px;
  border: 1px rgb(41, 144,	89);
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
  
  
}

.searchBarButtonGap
{
    width:80px;
    float: left;
}
.searchButton :hover {
  color:rgb(189, 189, 189);
  
  
  
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.checkboxColumn{
    float: middle;
    
    vertical-align: top;
    width: 5%;
    /* border: solid black 1px; */
    
}

.titleColumn{
    float: left;
    text-align: left;
    vertical-align: top;
    width: 35%;
    margin-left: 5px;
    /* border: solid black 1px; */


}



.bodyColumn{
    float: left;
    text-align: left;
    vertical-align: top;
    
    

    width: 55%;
    /* border: solid black 1px; */
}

.horizontalPaddingColumn{
    width:2%;
}

.favouritesTitle
{
    float: left;
    text-align: left;
    vertical-align: top;
    font-size: 60px;
    font-weight: bolder;
    color: rgb(43,	152,	94	);
    
}


.headerTitle
{
    font-size: 72px;
    font-weight: bolder;
    color: white;
}


.favouriteCheckbox
{
    width: 30px;
    height: 30px;
}

.favouritesCountainer
{

    
    width: 80%;
    

}

.favouritesBackground
{
    background-color: rgb(247, 254,	250	);
    /* width: 100%; */
        
}
.alignFavouriteData
{
    display: flex;
    justify-content: center;
    font-size: 24pt;

    
}

.alignFavouriteTitle
{
    width: 50%;
    text-indent: 17%;
    line-height: 1%;
}

.spaceAboveFavouritesTitle
{
    line-height: 5px;
}
.spaceBelowFavouritesTitle
{
    line-height: 5px;
}

.wasteDataBackground
{
    background-color: white;
    width: 100%;
    
        
}

.starButton
{
    border: 0px;
    color: #AAAAAA;
    text-rendering: optimizeLegibility;
    
    
}

.starButtonActivated
{
    border: 0px;
    border-color: none;
    color: #2B985E;
    background-color: none;
    text-rendering: optimizeLegibility;
    
}


.spaceUnderWasteData
{
    line-height: 1px;
}

.spaceUnderFavouriteData
{
    line-height: 200px;
    height: 200px;
}